
<div class="row">
  <div class="col-md-8">



      <div class="image-box">
        <div class="image-box-inside">

            <% @images.each do |image| %>

            <% if image.user.email == "thanh@yahoo.com" %>

                <!-- Button trigger modal -->
                  <%= link_to "#", data: {toggle: "modal", target: "#photo-modal#{image.id}"} do %>
                    <%= image_tag image.photo.url(:thumb), id: "image-in-homepage" %>
                  <%end%>

                <!-- Modal -->
                    <div class="modal fade" id="photo-modal<%=image.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><%= image.title %></h4>
                          </div>
                          <div class="modal-body">
                              <%= image_tag image.photo.url(:large), id: "image-in-modal" %>
                              <hr>
                            <p><%= image.content %></p>
                          </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                      </div>
                    </div>
                  <%end%> 
            <%end%>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="image-box">
    <div class="image-box-inside">
      <h3>Welcome</h3>
        <p>
          These are indeed world’s most famous photos. Every single one of them has a great story behind, we’re trying to bring you the pictures that changed mankind. If the change was good or bad, that is for you to judge. Click it to see more information.
        </p>
    </div>
  </div>


</div>
