<%= simple_form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, input_html: { class: 'special' } %>
  <%= f.input :photo, input_html: { class: 'special' } %>
  <%= f.association :user, :as => :hidden %>

  <%= f.button :submit, input_html: { class: 'special' } %>
<% end %>
