
<%= link_to 'Upload Image', "#", class:"btn btn-primary upload-index-image", data: {toggle: "modal", target: "#upload-image"} %>
<!-- Modal -->
<div class="modal fade" id="upload-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Photo</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "form" %>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">



      <div class="image-box">
        <div class="image-box-inside">

            <% @images.each do |image| %>
            <!-- Button trigger modal -->
              <%= link_to "#", data: {toggle: "modal", target: "#photo-modal#{image.id}"} do %>
                <%= image_tag image.photo.url(:thumb) %>
              <%end%>

            <!-- Modal -->
                <div class="modal fade" id="photo-modal<%=image.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%= image.title %></h4>
                      </div>
                      <div class="modal-body">
                          <%= image_tag image.photo.url(:large) %>
                        <p><%= image.content %></p>
                      </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                  </div>
                </div>
            <%end%>
          </div>
    </div>
  </div>

 <%= render partial: "side" %>
</div>
