<h1>Listing images</h1>

<table class="table">


  <tbody>
    <% @images.each do |image| %>
      <% if image.user_id == current_user.id %>
        <tr>
          <td><%= image.title %></td>
          <td><%= image_tag image.photo.url(:thumb) %></td>
          <td><%= link_to 'Show', image %></td>
          <td><%= link_to 'Edit', edit_image_path(image) %></td>
          <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>

<br>

<div class="upload"><%= link_to 'Upload Image', new_image_path %></div>
