<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @image.photo %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Destroy', image_path(@image), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', images_path %>
